@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Da 2", sans-serif;
}

/* -----Navbar----- */

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  background-color: white;
  padding: 0.5rem 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: #3b3849;
  font-size: 1.125rem;
  font-weight: 600;
}

.nav-btn {
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: linear-gradient(110deg, #ef512e 0%, #de0655 100%);
  cursor: pointer;
}

.nav-btn:hover {
  background-image: linear-gradient(0deg, #ef512e 0%, #de0655 100%);
}

.sm-nav {
  display: none;
}

.sm-navbar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

.sm-nav-items {
  width: 60%;
  background-color: white;
  height: 100%;
}

.call-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;
}

.call-info h4 {
  font-size: 1.25rem;
  color: #3b3849;
}

/* ----- Hero Section ----- */

.hero {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.sliders {
  width: 500%;
  height: 100%;
  display: flex;
  transition: transform 0.6s ease;
}

.slider {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#slider1 {
  background: linear-gradient(to bottom, #8b3d9b, #26022d);
}

#slider2 {
  background: linear-gradient(to bottom, #670000, #004d13);
}

#slider3 {
  background: linear-gradient(to bottom, #101124, #004e92);
}

#slider4 {
  background: linear-gradient(to bottom, #08291c, #007f49);
}

#slider5 {
  background: linear-gradient(to bottom, #273271, #5abaa3);
}

.radio-buttons {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.radio-button {
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  cursor: pointer;
}

.active-radio-button {
  background-color: #f0532d;
}

/* ----- Programs Section -----  */

.program-container {
  background-color: #e1dbff;
  position: relative;
  padding: 4rem 0;
  background-image: url(https://udvash.com/media/Images/UDVASH/Common/courseBefore.png),
    url(https://udvash.com/media/Images/UDVASH/Common/courseafter.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

.program-container h1 {
  text-align: center;
  color: #0f0254;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
}

.programs,
.progrmas-card {
  width: 80%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.dropdown-menu {
  width: 100%;
  padding: 0.625rem 0.75rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  box-shadow: 0.25rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

.dropdown-menu option {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-container {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.card-img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card-details {
  padding: 1rem;
  flex-grow: 1;
}

.card-details h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  min-height: 3rem;
}

.card-details ul {
  padding-left: 1rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
  margin-top: auto;
}

.card-btn1 {
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background: linear-gradient(to right, #0078ff, #840dc9);
  font-size: 1rem;
  cursor: pointer;
}

.card-btn1:hover {
  background: linear-gradient(to left, #0078ff, #840dc9);
}

.card-btn2 {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background: linear-gradient(to right, #bf00ff, #562270);
  font-size: 1rem;
  cursor: pointer;
}

.card-btn2:hover {
  background: linear-gradient(to left, #bf00ff, #562270);
}

.card-btn3 {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background: linear-gradient(to right, #38b34a, #043927);
  font-size: 1rem;
  cursor: pointer;
}

.card-btn3:hover {
  background: linear-gradient(to left, #38b34a, #043927);
}

/* ----- Success Section -----  */

.success-container {
  background-image: url("https://udvash.com/Themes/NewUdvashUnmeshTheme/img/udvash/successbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.success-container > h1 {
  color: #112780;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.success-sliders-container {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  overflow: hidden;
}

.success-sliders {
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.success-slider {
  width: 80vw;
  height: 100%;
  flex-shrink: 0;
}

.success-slider img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.success-img {
  border-radius: 0.5rem;
}

.success-radio-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.success-radio-button {
  height: 1rem;
  width: 1rem;
  background-color: #8e9dd8;
  border-radius: 100%;
  cursor: pointer;
}

.active-success-radio-button {
  width: 3rem;
  background-color: #112780;
  border-radius: 1rem;
}

.success-cards {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
}

.success-card {
  padding: 0.75rem;
}

.success-card > p {
  font-size: 1.25rem;
}

#success_count_1 {
  margin: 0.5rem 0;
  color: #9b3175;
  font-size: 2rem;
}

#success_count_2 {
  margin: 0.5rem 0;
  color: #db4528;
  font-size: 2rem;
}

#success_count_3 {
  margin: 0.5rem 0;
  color: #1e9b39;
  font-size: 2rem;
}

#success_count_4 {
  margin: 0.5rem 0;
  color: #986206;
  font-size: 2rem;
}

/* ----- Testimonial Section -----  */

.testimonial-section {
  background-image: url("https://udvash.com/Themes/NewUdvashUnmeshTheme/img/udvash/testimonialbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
}

.testimonial-section > h1 {
  color: #580000;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.testimonial-card {
  padding: 1.25rem;
  border-radius: 1.25rem;
  position: relative;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.testimonial-card > h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.testimonial-card > h5 {
  font-size: 0.75rem;
  font-weight: bold;
}

.testimonial-card > h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.testimonial-card > hr {
  width: 60%;
  height: 0.25rem;
  border: none;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.card-1 {
  background-color: #fefff6;
  box-shadow: inset 0px 3px 6px #b3c022;
}

.card-1 > h2 {
  color: #b3c022;
}

.card-1-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 0.25rem solid #b3c022;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.card-1 > hr {
  background-color: #b3c022;
}

.card-2 {
  background-color: #fff1f1;
  box-shadow: inset 0px 3px 6px #f95850;
}

.card-2 > h2 {
  color: #f95850;
}

.card-2-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 0.25rem solid #f95850;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.card-2 > hr {
  background-color: #f95850;
}

.card-3 {
  background-color: #fff9e9;
  box-shadow: inset 0px 3px 6px #fcb700;
}

.card-3 > h2 {
  color: #fcb700;
}

.card-3-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 0.25rem solid #fcb700;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.card-3 > hr {
  background-color: #fcb700;
}

.testimonial-button {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.hidden-cards {
  margin: 5rem auto;
}

/* ----- Video Section -----  */

.video-section {
  background-image: url("https://udvash.com/Themes/NewUdvashUnmeshTheme/img/udvash/videobg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
  text-align: center;
}

.video-section > h2 {
  color: #f0532d;
  font-size: 3rem;
  font-weight: bold;
}

.video-section > h1 {
  color: #6585e3;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.video-container {
  max-width: 50%;
  margin: 0 auto;
}

.yt-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.yt-video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.5rem;
}

.image-container {
  position: relative;
}

.image-container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  border: 0.1875rem solid #05056a;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  color: #ff3e48;
  background-color: #0000007e;
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: 0.25rem solid #ff3e48;
  cursor: pointer;
}

/* ----- Service Section -----  */

.service-section {
  background-image: url(https://udvash.com/Themes/NewUdvashUnmeshTheme/img/udvash/serviceBefore.png),
    url(https://udvash.com/Themes/NewUdvashUnmeshTheme/img/udvash/serviceAfter.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  padding: 4rem 0;
}

.service-section > h1 {
  color: #6abe45;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.service-cards {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
  text-align: center;
}

.service-card {
  padding: 0.5rem;
}

.service-card > p {
  font-size: 1.25rem;
  color: #333333;
}

/* ----- Easy Written Section -----  */

.easy-written-section {
  background-image: url(https://udvash.com/Themes/NewUdvashUnmeshTheme/img/udvash/easyBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.easy-title > h2 {
  color: #6abe45;
  font-size: 3rem;
  font-weight: bold;
}

.easy-title > h1 {
  color: #6abe45;
  font-size: 3.5rem;
  font-weight: bold;
}

.easy-title > p {
  color: #2b2b2b;
  font-size: 1.125rem;
  text-align: justify;
}

.easy-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.easy-image > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* ----- Hasel Free Section -----  */

.hasel-free-section {
  background-color: #faefff;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hf-details > h2 {
  color: #f0532d;
  font-size: 3rem;
  font-weight: bold;
}

.hf-details > h1 {
  color: #995699;
  font-size: 3.5rem;
  font-weight: bold;
}

.hf-details > p {
  color: #2b2b2b;
  font-size: 1.125rem;
  text-align: justify;
}

.hf-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hf-image > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.hf-link {
  color: #995699;
}

/* ----- Footer -----  */

footer {
  background-color: #532356;
  padding: 5% 10%;
  color: white;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 2rem;
}

.footer-container a,
.footer-container p {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  display: block;
}

.footer-container a:hover {
  color: #0d6efd;
}

.footer-container h4 {
  font-size: 1.5rem;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-social a:hover {
  color: white;
}

.footer-hr {
  border: 1px solid white;
  opacity: 0.25;
  margin: 1rem 0;
}

.footer-text {
  text-align: center;
  font-size: 0.875rem;
}

/* ----- Tougle Classes -----  */

.hide {
  display: none;
}

.view {
  display: block;
}
